<!--The content below is only a placeholder and can be replaced.-->
<div style="background-color: black;float: left;">

  <a href="./html/index.html" target="blank"> <img src="./assets/ace.png" width ="180px" height ="125 px"></a>
 
</div>

<div class="log"> <a href="index.html" class="logo">ACE <span class="lite">Manga</span></a></div>
<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Completed Manga</a>
      <a href="#">Ongoing Manga</a>
      <a href="#">Log In/Register</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<router-outlet></router-outlet>
